In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
import sagemaker

# Read dataset

In [9]:
%%sh
wget -N -P data http://archive.ics.uci.edu/ml/machine-learning-databases/00222/bank.zip
unzip data/bank.zip -d data

Archive:  data/bank.zip
  inflating: data/bank-full.csv
  inflating: data/bank-names.txt
  inflating: data/bank.csv

--2020-04-15 13:26:44--  http://archive.ics.uci.edu/ml/machine-learning-databases/00222/bank.zip
Resolviendo archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Conectando con archive.ics.uci.edu (archive.ics.uci.edu)[128.195.10.252]:80... conectado.
Petición HTTP enviada, esperando respuesta... 304 Not Modified
Fichero “data/bank.zip” no modificado en el servidor. Omitiendo la descarga.

In [11]:
DATA_PATH = 'data/'
df = pd.read_csv(DATA_PATH+'bank-full.csv', sep=';')
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

# Split dataset

In [12]:
train, test = train_test_split(df, test_size=0.2)

In [13]:
print('all:  ', len(df))
print('train:', len(train))
print('test: ', len(test))

all:   45211
train: 36168
test:  9043

In [14]:
train_file = DATA_PATH+'bank-train.csv'
train.to_csv(train_file, index=False, header=True, sep=',')

test_file = DATA_PATH+'bank-test.csv'
test.to_csv(test_file, index=False, header=True, sep=',')

# Upload to S3

In [15]:
session = sagemaker.Session()
uri = session.upload_data(path=train_file, key_prefix='bank')
print(uri)

s3://sagemaker-eu-west-3-384671335610/bank//bank-train.csv