In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split
import sagemaker

# Read dataset

In [12]:
%%sh
wget -N -P sagemaker-studio-demo/wine/data http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv

--2020-04-14 13:32:39--  http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 84199 (82K) [application/x-httpd-php]
Saving to: ‘sagemaker-studio-demo/wine/data/winequality-red.csv’

     0K .......... .......... .......... .......... .......... 60%  548K 0s
    50K .......... .......... .......... ..                   100%  198M=0.09s

2020-04-14 13:32:39 (900 KB/s) - ‘sagemaker-studio-demo/wine/data/winequality-red.csv’ saved [84199/84199]

In [16]:
DATA_PATH = 'sagemaker-studio-demo/wine/data/'
df = pd.read_csv(DATA_PATH+'winequality-red.csv', sep=';')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

# Split dataset

In [17]:
train, test = train_test_split(df, test_size=0.2)

In [18]:
print('all:  ', len(df))
print('train:', len(train))
print('test: ', len(test))

all:   1599
train: 1279
test:  320

In [19]:
train_file = DATA_PATH+'wine-red-train.csv'
train.to_csv(train_file, index=False, header=True, sep=',')

test_file = DATA_PATH+'wine-red-test.csv'
test.to_csv(test_file, index=False, header=True, sep=',')

# Upload to S3

In [38]:
session = sagemaker.Session()
uri = session.upload_data(path=train_file, key_prefix='wine/')
print(uri)

s3://sagemaker-us-east-2-384671335610/wine/wine-red-train.csv

In [ ]:
test.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
349,9.1,0.785,0.00,2.6,0.093,11.0,28.0,0.99940,3.36,0.86,9.40,6
36,7.8,0.600,0.14,2.4,0.086,3.0,15.0,0.99750,3.42,0.60,10.80,6
265,11.8,0.260,0.52,1.8,0.071,6.0,10.0,0.99680,3.20,0.72,10.20,7
737,8.2,0.590,0.00,2.5,0.093,19.0,58.0,1.00020,3.50,0.65,9.30,6
1396,8.7,0.675,0.10,1.6,0.090,4.0,11.0,0.99745,3.31,0.65,9.55,5